numba
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
torch
torchvision
torchaudio
unidecode
pyopenjtalk>=0.3.0
jamo
pypinyin
ko_pron
jieba
cn2an
protobuf
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
gradio